<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-runR-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-runR-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{48,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-runR-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{96,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skeleton-runR.png</string>
            <key>size</key>
            <string>{144,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0157a7fa469e6712c70f17a5840b7e12:b1661f1bdd0c7afd7fa25bd0d410ff36:2e75c0fb53d8ca75e61a90708bf6f20f$</string>
            <key>textureFileName</key>
            <string>skeleton-runR.png</string>
        </dict>
    </dict>
</plist>
