<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-runF-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-runF-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{48,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-runF-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{96,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skeleton-runF.png</string>
            <key>size</key>
            <string>{144,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db650ca1857fb6ebee55ec6dcb81324a:28cbbea9b48ecc972388dc412a6ba626:c193312500ebba8ef4a7919f2c5257df$</string>
            <key>textureFileName</key>
            <string>skeleton-runF.png</string>
        </dict>
    </dict>
</plist>
