<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-idleR-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idleR-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{94,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idleR-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{188,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idleR-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{282,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-idleR.png</string>
            <key>size</key>
            <string>{376,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5937c61862134bf9232621d747ca7a6:2ba1ce00fdd5943dbe292e794421bc0d:6e7d852f9667fad4333da7f65447fe40$</string>
            <key>textureFileName</key>
            <string>player-idleR.png</string>
        </dict>
    </dict>
</plist>
