<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-runR-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-runR-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{94,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-runR-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{188,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-runR-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{282,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-runR-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{376,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-runR-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{470,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-runR.png</string>
            <key>size</key>
            <string>{564,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d38324c001b30fbd20d9b4d9b2467e:fffe7447e46964db7a6b9faf7fa8c5d1:3157a74c7237c90be5bfc8aa9bf7faff$</string>
            <key>textureFileName</key>
            <string>player-runR.png</string>
        </dict>
    </dict>
</plist>
