<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-idleF-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idleF-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{94,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idleF-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{188,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idleF-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,52}</string>
                <key>spriteSourceSize</key>
                <string>{94,52}</string>
                <key>textureRect</key>
                <string>{{282,0},{94,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-idleF.png</string>
            <key>size</key>
            <string>{376,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc7952486ae6ff0f50b2a7569964bcad:2e5ced3a4327623d17e6862c57c25207:507752b8aef0c67a550dbdf76b938bed$</string>
            <key>textureFileName</key>
            <string>player-idleF.png</string>
        </dict>
    </dict>
</plist>
